body {
	font-family: Helvetica, Arial, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px;
	background-image: url('images/background.png');
}

h1 {
	font-size: 60px;
	color: #923158;
	margin: 0px;
}

h2 {
	color: #6E1237;
}

h3 {
	color: #6E1237;
	font-size: 24px;
	font-style: italic;
}

table {
	margin: 0 auto;
}

td {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

ul {
	width: 35%;
	margin: 0 auto;
}

li {
	text-align: left;
}

.header {
	text-align: center;
	height: 20%;
	padding-top: 3%;
	padding-bottom: 3%;
	margin: 0 auto;
	background-image: url('images/header_photo.png');
	background-size: 100% 150%;
	background-repeat: no-repeat;
}

.nav_bar {
	position: absolute;
	display: table;
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
	background-color: #6E1237;
}

.nav_bar_item {
	width: 15%;
	display: table-cell;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 275%;
	vetical-align: middle;
}

.page_body {
	margin-top: 7%;
	margin-left: 17%;
	margin-right: 17%;
	margin-bottom: 7%;
	text-align: center;
}

.table_left {
	text-align: left;
}