body {
	font-family: Helvetica, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 18px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url('../images/background.png');
}

h1 {
	font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
	font-size: 45px;
	font-weight: normal;
	color: white;
	margin: 0px;
}

h2 {
	color: #6E1237;
	font-weight: lighter;
	font-size: 28pt;
}

h3 {
	position: relative;
	color: #6E1237;
	font-size: 24px;
	font-style: italic;
	font-weight: lighter;
}

table {
	display: inline-block;
	vertical-align: top;
	font-weight: lighter;
}

td {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

ul {
	width: 35%;
	margin: 0 auto;
}

li {
	text-align: left;
}

.header {
	height: 180px;
	text-align: center;
	margin: 0 auto;
	background-color: #6E1237;
}

.nav_bar {
	position: relative;
	display: table;
	width: 70%;
	height: 50px;
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;
	background-color: #6E1237;
	box-shadow: 0px 3px 5px 1px rgba(75, 75, 75, 0.75);
	z-index: 1;
}

.nav_bar_item {
	width: 16%;
	height: 100%;
	display: inline-block;
	font-weight: lighter;
	font-size: 16px;
	color: #FFFFFF;
	cursor: pointer;
	line-height: 50px;
	vertical-align: middle;
}

.page_body {
	position: relative;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 100%;
	text-align: center;
}

.info_box {
	padding: 1.5rem;
	box-shadow: 0 2px 2px #aaa;
	background:white;
	border-radius: 3px;
	text-align: left;
	font-size: 20px;
	font-weight: lighter;
	overflow: auto;
}

.badge {
	display: block;
	width: 64px;
	height: 64px;
	opacity: 0.8;
	margin: 0 auto;
}

.hour_sign {
	height: 240px;
	opacity: 0.50;
	z-index: -1;
}

.table_left {
	text-align: left;
}

#header_photo {
	position: absolute;
	height: 180px;
	left: 16%;
	opacity: 0.75;
}

#glamour {
	font-family: "Brush Script MT", cursive;
	font-size: 150px;
}

#no_top_margin {
	margin-top: 0%;
}

#info_box_left {
	position: absolute;
	top: 40px;
	left: 25px;
}

#info_box_right {
	position: absolute;
	top: 40px;
	right: 25px;
}

#slideshow {
	position: relative;
	width: 50%;
}

#slides {
	cursor: move; 
	overflow: hidden; 
	width: 100%;
}

#map_canvas {
	margin: 0 auto;
	width: 70%;
}
