body {
	margin: 0;
	font-family: Catamaran, Helvetica, Arial, sans-serif;
	font-size: 24px;
	background-color: #FFFDE7;
}

h1 {
	margin-top: 0;
}

a {
	color: #4CAF50;
}

img {
	height: 100px;
	margin: 28px;
}

.header {
	position: relative;
	background: url("images/background.png");
	background-position: 0 16%;
	background-size: 100%;
	color: #000000;
	height: 200px;
	padding-top: 72px;
	padding-bottom: 72px;
	box-shadow: 0px 2px 8px #9E9E9E;
	font-family: "Share Tech Mono", monospace;
}

.header-title {
	color: #4CAF50;
	margin-top: 40px;
	margin-left: 5%;
}

.header-subtitle {
	clear: both;
	margin-left: 120px;
	font-size: 32px;
	font-weight: bold;
}

.header-text {
	float:left;
	font-size: 72px;
	font-weight: bold;
	max-width: 90%;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}

.blinking-cursor {
  	float:left;
  	font-weight: 100;
	font-size: 72px;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

@keyframes "blink" {
	from, to {
	color: transparent;
	}
	50% {
	color: #4CAF50;
	}
}

@-moz-keyframes blink {
	from, to {
	color: transparent;
	}
	50% {
	color: #4CAF50;
	}
}

@-webkit-keyframes "blink" {
	from, to {
	color: transparent;
	}
	50% {
	color: #4CAF50;
	}
}

@-ms-keyframes "blink" {
	from, to {
	color: transparent;
	}
	50% {
	color: #4CAF50;
	}
}

@-o-keyframes "blink" {
	from, to {
	color: transparent;
	}
	50% {
	color: #4CAF50;
	}
}

.info {
	padding-left: 160px;
	padding-right: 160px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.image-row {
	display: inline-block;
}

.button {
	font-family: "Share Tech Mono", monospace;
	font-size: 28px;
	font-weight: bold;
	text-decoration: none;
	border-style: solid;
	border-width: 2px;
	padding: 6px;
}

.footer {
	background-image: url("images/background.png");
	background-position: 0 100%;
	background-size: 100%;
	color: #000000;
	height: 120px;
	padding: 24px;
	font-family: "Share Tech Mono", monospace;
	font-size: 28px;
	box-shadow: 0px -2px 8px #9E9E9E;
}
